<div class="tool h-full flex flex-col justify-around">
    <div class="flex flex-col space-y-6">
        <div class="flex flex-col space-y-2">
            <p class="text-center font-semibold text-2xl">Endmill</p>
            <p class="text-center text-xl text-gray-400">{{toolId}}</p>
        </div>
        <div class="w-full flex items-center justify-center">
            <img src="../../assets/images/endmill.png" class="h-10" alt="">
        </div>
        <div class="w-full h-[1px] bg-gray-400"></div>
    </div>
    <div>
        <p class="font-bold mb-5">Tool Details:</p>
        <div class="flex items-center justify-between px-3 py-2 bg-gray-100">
            <p class="font-semibold">Product</p>
            <p>Endmill</p>
        </div>
        <div class="w-full h-[1px] bg-gray-400"></div>
        <div class="flex items-center justify-between px-3 py-2 bg-gray-100">
            <p class="font-semibold">Service</p>
            <p>Balinit Alcrona Pro</p>
        </div>
        <div class="w-full h-[1px] bg-gray-400"></div>

        <div class="flex items-center justify-between px-3 py-2 bg-gray-100">
            <p class="font-semibold">Substrate</p>
            <p>Carbide</p>
        </div>
        <div class="w-full h-[1px] bg-gray-400"></div>
        <div class="flex items-center justify-between px-3 py-2 bg-gray-100">
            <p class="font-semibold">Material</p>
            <p>Almunium</p>
        </div>
        <div class="w-full h-[1px] bg-gray-400"></div>
        <div class="flex items-center justify-between px-3 py-2 bg-gray-100">
            <p class="font-semibold">Dimensions</p>
            <p>120 x 12 x 10</p>
        </div>
        <div class="w-full h-[1px] bg-gray-400"></div>
        <div class="flex items-center justify-between px-3 py-2 bg-gray-100">
            <p class="font-semibold">Diameter</p>
            <p>102</p>
        </div>
        <div class="w-full h-[1px] bg-gray-400"></div>

        <div class="flex items-center justify-between px-3 py-2 bg-gray-100">
            <p class="font-semibold">Supplier</p>
            <p>Oerlikon AM</p>
        </div>
        <div class="w-full h-[1px] bg-gray-400"></div>
        <div class="flex items-center justify-between px-3 py-2 bg-gray-100">
            <p class="font-semibold">Created at</p>
            <p>26.04.2023</p>
        </div>

    </div>
    <audio #audio autoplay>
    <source src="../../assets/sounds/success.mp3" type="audio/mpeg">
  </audio>
  
</div>